body {
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

#visualization-title {
  font-size: 24px;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  margin-top: 20px;
}

#map,
body,
html {
  height: 100%;
}

.info.legend {
  background: #fff;
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.info.legend i {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 8px;
  opacity: 0.8;
}

.info.legend div {
  display: flex;
  align-items: center;
}

.depth-legend {
  background: #FF0000;
}

.info.legend div span {
  padding-left: 8px;
}